.panel.panel-default
  .panel-heading
    span 
      i.fa.fa-bolt style="color: #ffb400" 
      |  $
      = @room.price
    span.pull-right Per Night
  .panel-body
    // we do like this so to tell rails that room is the parent of room.reservation because we nee the room id to create ar eservation for it
    = form_for ([@room, @room.reservations.new]) do |f|
      .row
        .col-md-6
          label Check In
          // we make it readonly so you cant type anything inside
          = f.text_field :start_date, readonly: true, placeholder: "Start Date", class:"form-control datepicker"
        .col-md-6
          label Check Out
          // when the user loads the page the checkout will be disabled 
          = f.text_field :end_date, readonly: true, placeholder: "End Date", class:"form-control datepicker", disabled: true 

      h4.message-alert.text-center
        // here we display the error message about the date
        span#message

      // we dont want to display the preview until the user fills in the dates
      #preview style="display: none"
        table.reservation-table
          tbody
            tr
              td Price
              td.text-right $#{@room.price}
            tr
              td Night(s)
              td.text-right
                | 
                span#reservation_nights
            tr.total
              td Total
              td.text-right
                | $
                span#reservation_total
                

      br/
      // it will be enabled only after a validation of the time range 
      = f.submit "Book Now", id: "btn_book", class:'btn btn-normal btn-block', disabled: true


javascript:

  function checkDate(date){
    // months start from zero so we need to add 1 
    dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
    // we take the dmy date and compare it with all the date already booked
    return[$.inArray(dmy,unavailableDates) == -1]; 
  }

  
  $(function(){

    // create empty array
    unavailableDates = [];

    $.ajax({
      // run the room controller preload action
      // to get all the reservations for this room
      url: '#{preload_room_path(@room)}',
      dataType: 'json',
      success: function(data) {
        // we loop through all the data in the json and we store the value of each booked day
        $.each(data, function(arrID, arrValue){
          for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1 )) {
            // push dates inside our empty array
            unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
          }
        }); // end ajax call to check booked dates

        // this id is automatically generated by rails in the form
        $('#reservation_start_date').datepicker({
          dateFormat: "dd-mm-yy",
          minDate: 0,
          // we set max 3 months in advance you can book
          maxDate: "3m",
          // here we run the function to check that the date is not one o the already booked dates  
          beforeShowDay: checkDate,
          // when you select a start date, we will set that date as the min date for the end date field so that you can't select a day before the start
          onSelect: function(selected) {
            $('#reservation_end_date').datepicker("option", "minDate", selected);
            // set the end date field as no more disabled
            $('#reservation_end_date').attr("disabled", false);

            var start_date = $('#reservation_start_date').datepicker('getDate');
            var end_date = $('#reservation_end_date').datepicker('getDate');

            var nights = (end_date - start_date)/1000/60/60/24 + 1;

            var input = {
              'start_date': start_date,
              'end_date': end_date
            }
            $.ajax({
              // we rrun the ajax request to room controller/ preview action
              
              url: '#{ preview_room_path(@room)}',
              data: input,

              success: function(data){
                if (data.conflict){
                  // grab the span above and display this text inside of it
                  $('#message').text("These dates are not available");
                  // hide the preview and disable the book btton in case of conflict
                  $('#preview').hide();
                  $("#btn_book").attr("disabled", true);
                } else {
                  // if there are no conflicts we enable the button and display the preview
                  $('#message').text("");
                  $('#preview').show();
                  $("#btn_book").attr("disabled", false);
                  // we grab the value of nights from above
                  var total = nights * #{@room.price}
                  // this id is inside the preview 
                  // we display the total of the nights and the price
                  $("#reservation_nights").text(nights);
                  $("#reservation_total").text(total);
                }

              } 
                
              }); // end ajax

          } // end on select
        }); // end reservation start date 

        $('#reservation_end_date').datepicker({
          dateFormat: "dd-mm-yy",
          minDate: 0,
          maxDate: "3m",
          beforeShowDay: checkDate,
          onSelect: function(selected) {
            // set the selected date as the max for the start date so that user will not be able to change the start date to something past the end
            $('#reservation_start_date').datepicker("option", "maxDate", selected);

            // grab the start and end date the user selects
            var start_date = $('#reservation_start_date').datepicker('getDate');
            var end_date = $('#reservation_end_date').datepicker('getDate');
            // it will return milliseconds so we need to divide it to get days 
            var nights = (end_date - start_date)/1000/60/60/24 + 1;

            // we assign those values to this variable in json format
            var input = {
              'start_date': start_date,
              'end_date': end_date
            }

            $.ajax({
              // we rrun the ajax request to room controller/ preview action
              
              url: '#{ preview_room_path(@room)}',
              data: input,

              success: function(data){
                if (data.conflict){
                  // grab the span above and display this text inside of it
                  $('#message').text("These dates are not available");
                  // hide the preview and disable the book btton in case of conflict
                  $('#preview').hide();
                  $("#btn_book").attr("disabled", true);
                } else {
                  // if there are no conflicts we enable the button and display the preview
                  $('#message').text("");
                  $('#preview').show();
                  $("#btn_book").attr("disabled", false);
                  // we grab the value of nights from above
                  var total = nights * #{@room.price}
                  // this id is inside the preview 
                  // we display the total of the nights and the price
                  $("#reservation_nights").text(nights);
                  $("#reservation_total").text(total);
                } // end else 

              } // end success function 
                
              }); // end ajax 
          } // end on select 
        }); // end reservation end  date 

      } // end preload success function
    }); // end first ajax call

  });